{{!< default}}
<main class="gh-main">
    {{>hero-section}}

    {{!-- DEFAULT HOME PAGE LAYOUT THAT SETS UP FROM GHOST ADMIN PANEL --}}
    {{>layout}}
    {{!-- -------------------------------------------------- --}}

    {{!-- INSERT LAYOUTS HERE --}}

    {{!-- ------------------- --}}

    {{!-- BANNERS EXAMPLES --}}
    {{!-- {{>banners/banner-with-bg background-image="../assets/images/subscription4.png"}} --}}
    {{>banners/banner-default}}

    {{!-- LAYOUTS EXAMPLES --}}
    {{!-- {{>layout/featured-type1 tagName='music' themeSection="black"}} --}}
    {{!-- {{>layout/featured-type2 tagName='music' themeSection="light-gray"}} --}}
    {{!-- {{>layout/featured-type3 tagName='music' }} --}}
    {{!-- {{>layout/featured-type4 tagName='music' }} --}}
    {{!-- {{>layout/featured-type5 tagName='music' }} --}}
    {{!-- {{>layout/type1 tagName='music' }} --}}
    {{!-- {{>layout/type2 tagName='music' }} --}}
    {{!-- {{>layout/type3 tagName='music' }} --}}
    {{!-- {{>layout/type4 tagName='music' }} --}}
    {{!-- {{>layout/type5 tagName='music' }} --}}
    {{!-- {{>layout/type6 tagName='music' }} --}}
    {{!-- {{>layout/type7 tagName='music' }} --}}
    {{!-- {{>layout/type8 tagName='music' }} --}}
    {{!-- {{>layout/type9 tagName='music' }} --}}
    {{!-- {{>layout/type10 tagName='music' }} --}}
    {{!-- {{>layout/type11 tagName='music' }} --}}
    {{!-- {{>layout/type12 tagName='music' }} --}}
    {{!-- {{>layout/type13 tagName='music' }} --}}
    {{!-- {{>layout/type14 tagName='music' }} --}}
    {{!-- {{>layout/type15 tagName='music' }} --}}
    {{!-- {{>layout/type16 tagName='music' }} --}}
    {{!-- {{>layout/type17 tagName='music' }} --}}
    {{!-- {{>layout/type18 tagName='music' }} --}}
    {{!-- {{>layout/type19 tagName='music' }} --}}

</main>
