.gh-posts-section__title {
    padding-bottom: 16px;
}

.gh-posts-section__title a {
    color: var(--color-main);
    font-family: var(--font-family-section-title);
    font-size: var(--font-size-section-title);
    font-weight: var(--font-weight-section-title);
    line-height: var(--line-height-section-title);
    letter-spacing: var(--letter-spacing-section-title);
    text-transform: var(--text-transform-section-title);
    width: fit-content;
    display: block;
    transition: opacity var(--transition-time) ease;
}

.gh-posts-section__title a:hover {
    opacity: 0.8;
}